h1 
{
	text-align: center;
	color: white;
	border: 3px white;
}

html 
{
    background-color: Indigo;
	color: white;
	border: 10px dotted white;
}
a
{
	color: white;
  text-align: center;
  display: block;
} 
img 
{
    display: block;
    margin: 0 auto;
	border: 10px dotted white;
}