h1 
{
	text-align: center;
	color: white;
	border: 3px white;
}

body 
{
    background-color: Indigo;
	color: white;
	border: 3px white;
}
a
{
	color: red;
} 
img 
{
    display: block;
    margin: 0 auto;
	border: 5px white;
}