body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.button {
	background-color: Indigo;
	color: white;
	padding: 16px 32px;
	font-family: Gotham;
	font-size: 20px;
}