html {
  background: white;
  border: 10px dotted indigo;
  border-radius: 4px;
  padding: 50px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  align-items: middle;
}

.jumbotron {
  background: white;
  border: 10px dotted indigo;
  text-align: center;
  padding: 32px 0px;
  margin-bottom: 32px;
}

.jumbotron h1 {
  line-height: 1;
  font-family: Gotham;
  font-size: 64px;
  margin: 0px 16px;
  color: indigo;
}

.c-main-img {
  display: block;
  margin: auto;
  margin-bottom: 32px;
  border: 10px dotted red;
  max-height: 525px;
  max-width: 525px;
}

a {
  margin-top: 300px;
  color: indigo;
  display: block;
  text-align: center;
}

.c-button {
  display: inline block;
  background-color: Indigo;
  padding: 16px 32px;
  border: 5px dotted white;
  border-radius: 4px;
  line-height: 1;
  width: 30%;
  padding: 16px 8px;
  box-shadow: 0px 12px 0px 0px gray;
}

.c-button p 
{
  color: white;
  font-family: Gotham;
  font-size: 32px;
  font-weight: 700;
}

.c-button:hover
{
  cursor: pointer;
  background-color: #7840A1;
  transition: 0.8 ease-in-out all;
}

.c-button:active
{
	background-color: #4B0082;
	box-shadow: 0px 8px 0px 0px transparent; 
  transform: translate(0px, 12px);
}

.c-button-left
{
  position: absolute;
  left: 100px;
}

.c-button-right
{
  position: absolute;
  right: 100px;
}