html {
  background: white;
  border: 10px dotted indigo;
  border-radius: 4px;
  padding: 50px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  align-items: middle;
}

.jumbotron {
  background: indigo;
  border: 10px dotted white;
  text-align: center;
  padding: 32px 0px;
  margin-bottom: 32px;
}

.jumbotron h1 {
  line-height: 1;
  font-family: Gotham;
  font-size: 64px;
  margin: 0px 16px;
  color: white;
}

.c-pokeball-img {
  display: block;
  margin: auto;
  margin-bottom: 32px;
  border: 10px dotted red;
  height: 800px;
  width: 800px;
}

a {
  padding-top: 32px;
  color: indigo;
  display: block;
  text-align: center;
}

.c-button {
  display: block;
  background-color: Indigo;
  padding: 16px 32px;
  border: 5px dotted white;
  border-radius: 4px;
  line-height: 1;
  margin: auto;
  width: 90%;
  padding: 16px 8px;
  margin-bottom: 100px;
}

.c-button p 
{
  color: white;
  font-family: Gotham;
  font-size: 80px;
  font-weight: 700;
}

.c-button:hover
{
  cursor: pointer;
}