<!DOCTYPE html>
<html>
	<head>
	<link rel="stylesheet" type="text/css" href="\public\css\authorStyle.css">
	</head>
	<body>
		<img src="\public\img\CapGrad.jpg" alt="Image Not Loaded" class ="c-profile-img">
    <div class="c-caption">
    <h1> Name: Torrelle Howard</h1>		
      <h1> Age: 22 </h1>
    <h1> School: Capital University & Berea High School </h1>
    <h1>	Hobbies: Sports, Video Games, Software Development </h1>
    </div>
		<a href="http://whatsnewscrappydoo.tech">Home Page</a>
	</body>
</html>
